<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/f88d40c9-3655-4267-bd39-2598c7274344/resourceGroups/typerteacher/providers/Microsoft.ContainerRegistry/registries/TyperTeacher</ResourceId>
    <ResourceName>TyperTeacher</ResourceName>
    <ResourceGroup>typerteacher</ResourceGroup>
    <Subscription>Visual Studio Enterprise</Subscription>
    <RegistryUrl>https://typerteacher.azurecr.io/</RegistryUrl>
    <UserName>TyperTeacher</UserName>
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>2c829aa7-1553-4b8f-8b72-4818be249652</ProjectGuid>
  </PropertyGroup>
</Project>